* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121721;
  overflow-x: hidden;
}

nav {
  font-family: "Kumbh Sans", sans-serif;
  /* font-family: 'Space Mono', monospace; */
  font-size: 25px;
  color: antiquewhite;
  padding: 5vh 10vw 0 10vw;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  width: 80%;
  background: url(./assets/desktop/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 100px;
}

.moonLogo {
  margin-left: 65vw;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 6px;
  bottom: 6px;
  background-color: #5964e0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.searchBar {
  height: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8vw;
}

.searchBar input {
  height: 8vh;
}

.filterTitle {
  text-align: center;
  color: #ffffff;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 35vw;
  outline: none;
  border: none;
  background-color: #19202d;
  border-radius: 8px 0 0 8px;
}

.svg-Search {
  display: block;
  z-index: 2;
  margin-right: -60px;
  padding-top: 5px;
  cursor: pointer;
}

.filterLocation {
  text-align: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 25vw;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: #19202d;
  border-left: 1px #6e8098 solid;
  border-right: 1px #6e8098 solid;
}

.svg-Location {
  position: absolute;
  display: block;
  z-index: 2;
  margin-right: 220px;
  padding-top: 5px;
  cursor: pointer;
}

.searchOptions {
  margin: 0 12px;
  width: 18px;
  cursor: pointer;
}

.searchButtonSection {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #ffffff;
  background-color: #19202d;
  width: 17vw;
  border-radius: 0 8px 8px 0;
  margin-right: 3vw;
}

.searchButton {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  width: 6vw;
  height: 5vh;
  border-radius: 8px;
  border: none;
  background-color: #5964e0;
  color: #ffffff;
  margin: 0 5px 0 35px;
  transition: 250ms;
}

.searchButton:hover {
  background-color: #939bf4;
  cursor: pointer;
}

.profileIcon {
  cursor: pointer;
  color: #ffffff;
  font-size: 35px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px #16a085 solid;
  position: relative;
}

i {
  position: relative;
  color: #ffffff;
  font-size: 35px;
  transition: all 0.25s ease;
}

.profileIcon::before {
  position: absolute;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 50%;
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 0px #16a085;
}

.profileIcon:hover::before {
  box-shadow: inset 0 0 0 40px #16a085;
}

.grid-Page1 {
  padding: 30px;
  margin: 16vh 10vw;
  display: grid;
  grid-template-columns: auto auto auto;
  height: 108vh;
  grid-gap: 80px 50px;
  overflow: hidden;
}

.grid-item {
  height: 30vh;
  border-radius: 8px;
  background-color: #19202d;
  font-family: "Kumbh Sans", sans-serif;
  box-shadow: 0 14px 8px 0 rgba(0, 0, 0, 0.2), 0 26px 25px 0 rgba(0, 0, 0, 0.19);
  animation: 250ms;
  position: relative;
}

/* .grid-item:hover {
  transform: scale(1.05);
} */
/* INSIDE EACH GRID ITEM */

.logoDiv {
  background-color: hsl(36, 87%, 49%);
  position: absolute;
  left: 30px;
  top: -25px;
  width: 55px;
  height: 55px;
  border-radius: 18px;
  display: flex;
}

.logo {
  display: block;
  margin: auto;
}

.timeJobType {
  position: absolute;
  left: 30px;
  top: 50px;
  color: #6e8098;
  letter-spacing: 1px;
  font-size: 18px;
}

.mobileSearch {
  display: none;
}

.mobileFilterTitle {
  padding-left: 20px;
  color: #ffffff;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  width: 70vw;
  outline: none;
  border: none;
  background-color: #19202d;
  border-radius: 8px;
  position: relative;
}

.svg-Options {
  position: absolute;
  left: 60%;
}

.mobileSearchButtonSection {
  position: absolute;
  left: 80%;
  color: #ffffff;
}

.mobileSearchButton {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  /* background-color: #5964e0; */
}


.mobileSearchButton:hover {
  background-color: #939bf4;

}

.mobileSearchButton svg {

  color: #ffffff;
}

@media only screen and (max-width: 1400px) {
  .grid-Page1 {
    grid-template-columns: auto auto;
    height: 190vh;
  }

  .grid-item {
    height: 30vh;
  }
}

@media only screen and (max-width: 1000px) {
  .mobileSearch {
    display: flex;
    align-items: center;
    position: relative;
  }

  .grid-Page1 {
    grid-template-columns: auto;
    height: 390vh;
    width: 89%;
    margin-left: -18px;
  }

  .grid-item {
    width: 96vw;
    height: 30vh;
    margin-left: -4px;
  }
  .loadButtonContainer {
    margin-left: 10vh;
  }

  .loadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    padding: 5vh 16vh;
  }

  .loadButton span {
    flex: none;
    font-size: 20px;
  }

  .filterTitle {
    display: none;
  }

  .filterLocation {
    display: none;
  }

  .searchButtonSection {
    display: none;
  }

  .svg-Location {
    display: none;
  }

  .svg-Search {
    display: none;
  }

  /* .profileIcon {
    margin-left: 100px;
  } */

  /* .mobile */
}

.jobTitle {
  position: absolute;
  left: 30px;
  top: 90px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
}

.jobTitle:hover {
  color: #6e8098;
  cursor: pointer;
}

.companyName {
  position: absolute;
  left: 30px;
  top: 140px;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 18px;
  color: #6e8098;
}

.jobLocation {
  position: absolute;
  left: 30px;
  top: 200px;
  color: #5964e0;
}

.loadButtonContainer {
  display: flex;
  margin-top: -10vh;
  justify-content: center;
}

.loadButton {
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  border-radius: 8px;
  background-color: #5964e0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  width: 10vw;
  height: 6vh;
  border: none;
  outline: none;
  margin-bottom: 10vh;
  transition: 250ms;
}

.loadButton:hover {
  background-color: #939bf4;
  cursor: pointer;
}
